ul{
   list-style: none; 
}

a{
   text-decoration: none;
}

.a-hover{
    color: white;
}

.a-hover:hover{
    color: rgb(241, 89, 33);
}
.text-mine{
    color: black;
}
.text-mine:hover{
    color: rgb(241, 89, 33);
}
.form-control{
    border-radius: o !important;
}
.form-control:focus{
    box-shadow: none;
    border-color: rgb(241, 89, 33);
}
.input-width{
    width: 400px;
}